<div class="card w-75 mt-5">
  <div class="card-body">
    <span class="card-title h4"><%= link_to opinion.user.username, user_path(opinion.user) %></span>
    <% if @current_user == opinion.user %>
    <span><%= link_to "", book_opinion_path(book, opinion), method: :delete, class:"p-1 fas fa-trash-alt" %></span>
    <span><%= link_to "", edit_book_opinion_path(book, opinion), class:"p-1 fas fa-edit" %></span>
    <% end  %>
    <p class="card-text h6"><%= opinion.created_at.strftime("%A, %m/%d/%Y") %></p>
    <p class="card-text h5 mt-3"><%= opinion.content %></p>
  </div>
</div>
