<% content_for :title do %><%= "My Library - Join" %><% end %>
<% content_for :head do %><%= stylesheet_link_tag 'login_signup', media: 'all', 'data-turbolinks-track': 'reload' %><% end %>

<div class="center">
  <h1>MyLibrary</h1>
  <%= form_for(@user) do |f| %>
    <div class="form_field">
      <%= f.text_field :username, required: true %>
      <%= content_tag(:span) %>
      <%= f.label :username %>
    </div>
    <div class="form_field">
      <%= f.text_field :email, required: true %>
      <%= content_tag(:span) %>
      <%= f.label :email %>
    </div>
    <div class="form_field">
      <%= f.password_field :password, required: true %>
      <%= content_tag(:span) %>
      <%= f.label :password%>
    </div>
    <div class="form_field">
      <%= f.password_field :password_confirmation, required: true %>
      <%= content_tag(:span) %>
      <%= f.label :password_confirmation %>
    </div>
  
    <%= f.submit "Create account" %>
  <% end %>

  <div class="alternative_link">
    Already a member? <%= link_to "Sign in", login_path %>
  </div>

  <div class="oauth_link">
    or you can sign in with <%= link_to signup_path do %><%= '<i class="fa-solid fa-g"></i>oogle'.html_safe %><% end %>
  </div>
</div>
