<div class="container mt-5 mb-5 w-50">
  <div class="card">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag("coming-soon.jpg", class:"img_fluid", alt: book.title) %>
      </div>
      <div class="col-sm-9 mt-3">
        <div class="row">
          <div class="col-8 col-sm-8">
            <h3 class="card-title"><%= link_to book.title, book_path(book) %></h3>
            <h4 class="card-title">by <%= link_to book.author.name, author_path(book.author) %></h4>
            <p class="mt-5"><%= book.description %></p>
          </div>
          <div class="col-4 col-sm-4">
            <%= render partial: "books/status_icon", locals: {book: book} %>
            <%= content_tag(:h6, favorite_count(book)) %>
            <%= content_tag(:h6, finished_count(book)) %>
            <%= content_tag(:h6, reading_now_count(book)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>